@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

body {
    font-size: 10px;
    margin: 0px 10em 0px 10em;
    padding: 0;
    font-family: Roboto;
    background-color: #F2F4FC;
}

@media (min-width: 1000px) {
    body {
        margin: 0px 100px 0px 150px;
    }
}

@media (max-width: 999px) {
    body {
        margin: 0px 50px 0px 50px;
    }
}



h1 {
    font-size: 6em;
    text-align: left;
    font-weight: bold;

}

h3 {
    font-size: 4em;
    text-align: left;
    line-height: 1em;
    font-weight: bold;
}

h4 {
    font-size: 3em;
    text-align: left;
    line-height: 1em;
    font-weight: bold;
}

h5 {
    font-size: 2.4em;
    line-height: 1em;
    font-weight: bold;
}

h6 {
    font-size: 2em;
    text-align: left;
    line-height: 1em;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.bit24m {
    font-size: 2.4em;
    color: black;
}

.bit20r {
    font-size: 2em;
    color: #6B708D;
}


.blue-button {
    background-color: #072AC8;
    border: none;
    color: rgb(222, 228, 231);
    padding: 1.5px 3.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8em;
    margin: 0.4em 0.2em;

}

/* NAV BARRE */
.menu {
    display: inline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section {
    margin-bottom: 6em;
    padding-bottom: 4em;
}

.menu li {
    display: inline;
    justify-content: space-evenly;
    padding: 3em;
    font-size: 1.4em;
    font-weight: bold;

}


/* FORM */

form {
    display: flex;
    flex-direction: column;
}



label {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    display: block;

}

input {
    background-color: #d4d8e4;
    color: white;
    height: 3em;
    border-style: none;
}

.mail-phone {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content:space-between;
}

#phone input {
    width: 32em; 
    height: 3em;
    }

#mail input {
    width: 32em;
    height: 3em;
}

textarea {
    background-color: #d4d8e4;
    border-style: none;
}

button[type=submit] {
    background-color: #072AC8;
    color: aliceblue;
    border-style: none;
    height: 4em;
}


/* FOOTER LINKS */

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding-top: 50px;
}

.footer-table td {
    padding: 10px;
    font-size: 1.6em;

}