@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");
/* <link rel="stylesheet" media="(media-features)" href="project.css" /> */



html, body
{
    margin:0;
    padding: 0;
    font-family: Roboto;
    font-size: 10px;
    background-color: #F2F4FC;
}


@media (min-width: 1000px) {
    body{
        margin: 0px 100px 0px 150px;
    }
}

@media (max-width: 999px) {
    body{
        margin: 0px 50px 0px 50px;
    }
}

h1 {
    font-size: 6em;
    text-align: left;
    font-weight: bold;

}

h3 {
    font-size: 4em;
    text-align: left;
    line-height: 1em;
    font-weight: bold;
}

h4 {
    font-size: 3em;
    text-align: left;
    line-height: 1em;
    font-weight: bold;
}

h5 {
    font-size: 2.4em;
    line-height: 1em;
    font-weight: bold;
}

h6 {
    font-size: 20em;
    text-align: left;
    line-height: 1em;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.bit24m {
    font-size: 2.4em;
    color: black;
}

.bit20r {
    font-size: 2em;
    color: #6B708D;
}

/* NAV BARRE */
.menu {
    display: inline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section {
    margin-bottom: 60px;
}

.menu li {
    display: inline;
    justify-content: space-evenly;
    padding: 30px;
    font-size: 14px;
    font-weight: bold;

}

/* SIMPLIFY */

.subtitle {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#image1 {
    width: 100%;
    object-fit: cover;
    height: 400px;
}

#completed {
    font-size: 1.6em;
    color: black;

}

#date {
    font-size: 1.6em;
    color: #6B708D;
}

#project-content{
    font-size: 1.6em;
}


/* OTHER PROJECTS */

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projet {
    border-style: none;
    background-color: white;
    margin: 20px;
}

.projet img {
    width: 100%;
    height: 200px;
}

.body-intro-text {
    padding: 30px;
    color: #2b2b2e;
    font-size: 3em;
    font-weight: bold;
}


.learn-more {
    color: #072AC8;
    font-size: 1.4em;
}



.blue-button {
    background-color: #072AC8;
    border: none;
    color: rgb(222, 228, 231);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8em;
    margin: 4px 2px;

}


/* YELLOW SECTION */

#questions {
    text-align: center;
}

.yellow-section {
    background-size: contain;
    background-color: #FFC600;
    text-align: center;
    padding-block: 10%;

}

/* FOOTER LINKS */

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.footer-table td {
    padding: 10px;
    font-size: 1.6em;

}